{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h1 class="h3 mb-3">{{ title }}</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
                {% for error in field.errors %}
                <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-between">
                <a class="btn btn-outline-secondary" href="{% url 'caixa:movimento_list' %}">Cancelar</a>
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
